:root {
  --error-msg-color: red;
  --error-font-size: 13px;
}

.errors {
  color: var(--error-msg-color);
  font-size: var(--error-font-size);
  height: 15px;
  width: 220px;
  margin: 3px;
}



.signup-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-content: flex-start;
}

.signup-submit-button:hover {
  background-color: rgb(239, 39, 39);
}

.signup-submit-button {
  width: 100px;
  border-radius: 5px;
  margin-top: 30px;
  align-self: center;
  background-color: rgb(241, 92, 92);
  color: white;
  font-size: 15px;
  width: 100%;
  box-shadow: 0px 1px 4px black;
  padding: 10px;
}

.signup-submit-button-not {
  width: 100px;
  border-radius: 5px;
  margin-top: 30px;
  align-self: center;
  font-size: 15px;
  width: 100%;
  box-shadow: 0px 1px 4px black;
  padding: 10px;
}

label {
  margin: 7px;
}

.signup-inputs {
  margin: 5px;
  width: 300px;
  border: 2px solid black;
  background-color: rgb(209, 228, 241);
  box-shadow: 0px 0px 2px rgb(124, 63, 63);
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.signup-inputs:focus {
  background-color: white;
}

.sign-up-checkboxes {
  margin: 20px 0px;
} 

.sign-up-checkboxes input {
  margin: 5px
}

.news-text {
  font-size: 15px;
}

#terms-conditions {
  cursor: pointer;
}

#terms-conditions:hover {
  color: gray;
}

.have-an-account-text-container {
  border-top: 2px solid black;
  margin-top: 15px;
  padding-top: 30px;
  padding-left: 7px;
  padding-bottom: 10px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.have-an-account-text-container span {
  font-size: 13px;
}

.click-here-text {
  cursor: pointer;
}
.click-here-text:hover {
  color: gray;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-header {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.signup-button:hover {
  background-color: rgb(197, 202, 202);
}