.currentUser-reviews-container {
  background-color: rgb(229, 229, 226);
  padding: 0px 20px 10px 20px;
  margin: 8px;
  border-radius: 8px;
  width: 70%;
  box-shadow: 0px 0px 4px gray;
}

.manage-reviews-title {
  margin: 8px 0px 12px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.manage-reviews-title a {
  text-decoration: none;
  color: rgb(116, 172, 87);
}

.manage-reviews-title a:hover {
  color: rgb(73, 211, 4);
}

.manage-reviews-date {
  color: gray;
  font-size: 13px;
}

.manage-reviews-reviews {
  font-weight: bold;
}


