.post-review-button-open-modal {
  background-color: rgb(207, 202, 202);
  margin: 5px;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}

.post-review-button-open-modal:hover {
  background-color: rgb(161, 158, 158);
}

#post-review-buttons {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}

.on {
  color: rgb(248, 248, 25);
}

.off {
  color: #ccc;
}

.star {
  font-size: 35px;
}

.star-rating-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

#star-text {
  font-size: 20px;
  padding-top: 4px;
}

.post-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-review-container h1 {
  margin-bottom: 0px;
}

.post-review-textbox {
  width: 95%;
  height: 150px;
  resize: none;
  background-color: rgb(209, 228, 241);
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 5px gray;
}

.post-review-textbox:focus {
  background-color: white;
}

.post-review-errors-container {
  align-self: flex-start;
  padding-left: 10px;
}
.post-review-errors-container li {
  list-style-type: none;
}

#post-review-submit-button {
  background-color: rgb(241, 92, 92);
  color: white;
  font-size: 15px;
  width: 100px;
  height: 20px;
  box-shadow: 1px 2px 4px black;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#post-review-submit-button-not {
  font-size: 15px;
  width: 100px;
  height: 20px;
  box-shadow: 1px 2px 4px black;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#post-review-submit-button:hover {
  background-color: rgb(239, 39, 39);
}
