
.review-container {
  display: grid;
}

.review-wrapper {
  /* border-bottom: 1px dotted black; */
  background-color: rgb(229, 229, 226);
  padding: 0px 20px 10px 20px;
  margin: 8px;
  border-radius: 8px;
  width: 70%;
  box-shadow: 0px 0px 4px gray;
}

.reviews-name{
  margin: 8px 0px 12px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.reviews-date{
  color: gray;
  font-size: 13px;
}

.reviews-name{

}

/***************************************/
/** reviewdetailcard.js **/

.review-buttons-container {
  display: flex;
}

.update-review-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  
}

.update-review-button:hover {
  background-color: rgb(161, 158, 158);
}

.delete-review-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}

.delete-review-button:hover {
  background-color: rgb(161, 158, 158);
}
