
.review-container {
  display: grid;
}

.review-wrapper {
  border-bottom: 1px dotted black;
  background-color: rgb(207, 207, 204);
  padding: 10px;
  margin: 8px;
  border-radius: 12px;
  width: 500px;
}

/***************************************/
/** reviewdetailcard.js **/

.review-buttons-container {
  display: flex;
}

.update-review-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  
}

.update-review-button:hover {
  background-color: rgb(161, 158, 158);
}

.delete-review-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}

.delete-review-button:hover {
  background-color: rgb(161, 158, 158);
}
