/* this is for LocationForm.js */

.form-container {
    display: flex;
    justify-content: center;
}

form {
    max-width: 400px;
    /* background-color: aqua; */
}

.form-label {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.form-label > input {
    padding-left: 0px;
    margin-left: 0px;
    border: 2px solid black;
    background-color: rgb(209, 228, 241);
}

.address-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    /* grid-template-rows: repeat(8, 35px); */
    grid-template-rows: 40px, 20px, 40px, 20px 40px, 20px, 40px, 20px;
}

#country-label {
    grid-column-start: span 10;
    grid-row-start: 1;
}

#address-label {
    grid-column-start: span 10;
    grid-row-start: 3;
}

#city-label {
    grid-column-start: span 6;
    grid-row-start: 5;
}

#state-label {
    grid-column-start: span 4;
    grid-row-start: 5;
}

#lat-label {
    grid-column-start: span 5;
    grid-row-start: 7;
}

#lng-label {
    grid-column-start: span 5;
    grid-row-start: 7;
}

#description {
    width: 97%;
    height: 100px;
    resize: none;
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: rgb(209, 228, 241);
}

.price-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#price {
    width: 95%;
    margin-left: 5px;
}

#create-button {
    background-color: rgb(241, 92, 92);
    color: white;
    font-size: 10px;
    width: 100px;
    height: 20px;
    box-shadow: 1px 2px 4px black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
}
#create-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.section-wrapper {
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
}



/***********************************************************/
.errors {
    padding: 0px;
}

#country-errors {
    grid-row-start: 2;
}

#address-errors {
    grid-row-start: 4;
}

#city-errors {
    grid-row-start: 6;
}

#state-errors {
    grid-row-start: 6;
    grid-column-start: 7;
}

#lat-errors {
    grid-row-start: 8;
}

#lng-errors {
    grid-row-start: 8;
    grid-column-start: 6;
}