/* this is for locationCard.js */

.description-link {
  font-weight: bolder;
  font-size: 18px;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
}

.description-name {
  margin: 2px 4px 4px 0px;
}

.description-container {
  width: 100%;
}

.description-container > img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  
}


