.spot-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 1051px) and (max-width: 1310px) {
  .spot-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 716px) and (max-width: 1050px) {
  .spot-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 715px) {
  .spot-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/****************************************************************/

 /* @media (min-width: 1051px) and (max-width: 1310px) {
  .description-container > img {
    height: 260px;
  }
}

@media (min-width: 716px) and (max-width: 720px) {
  .description-container > img {
    height: 260px;
  }
} 

@media (max-width: 715px) {
  .description-container > img {
    height: 300px;
  }
} */



/****************************************************************/


.spot-card {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.spot-card a {
  color: black;
  text-decoration: none;
  width: fit-content;
}

.spot-card:hover {
  background-color: rgb(209, 215, 215);
}

/*************************************************************/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  height: 20px;
  background-color: rgb(51, 50, 47);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 50%;
  margin-left: -60px;
  box-shadow: 1px 1px 7px rgb(31, 28, 28);
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(51, 50, 47) transparent transparent transparent;
}
