.spot-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px 30px;
}
/* 
@media (min-width: 2000px) {
  body {
    max-width: 2000px;
    margin: auto;
  }
} */

@media (min-width: 1311px) {
  .spot-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /* margin: 10px 80px; */
  }
}

@media (min-width: 1051px) and (max-width: 1310px) {
  .spot-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: auto;
  }
}

@media (min-width: 716px) and (max-width: 1139px) {
  .spot-container {
    grid-template-columns: repeat(2, minmax(0, 3fr));
  }

  .spot-card {
    max-width: 425px;
    min-width: 375;
    margin: auto;
  }
}

@media (max-width: 715px) {
  .spot-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .spot-card {
    max-width: 400px;
    /* min-width: 400px; */
    margin: auto;
  }
}

.spot-card {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 350px; */
  /* background-color: red; */
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  flex-direction: column;
}

.spot-card a {
  color: black;
  text-decoration: none;
  max-width: 100%;
  /* background-color: green; */
  width: 100%;
}

.spot-card a.manage-location-update-button {
  color: white;
}

.spot-card:hover {
  background-color: rgb(209, 215, 215);
}

.landing-page-images {
  box-shadow: 0px 0px 7px gray;
}

/*************************************************************/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: fixed;
  color: #ffffff;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  background-color: rgb(51, 50, 47);
  border-radius: 6px;
  box-shadow: 1px 1px 7px rgb(31, 28, 28);
  z-index: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%; 
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color:  transparent transparent rgb(51, 50, 47) transparent ;
}

/*****************************************************************/
/** ManageLocation.js**/

.manage-location-update-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 3px 4px;
  box-shadow: 1px 1px 3px black;
  width: 100px;
  border-radius: 5px;
}

.manage-location-update-button:hover {
  background-color: rgb(161, 158, 158);
}

.manage-location-delete-button {
  background-color: rgb(207, 202, 202);
  /* color: white; */
  margin: 5px;
  padding: 3px 4px;
  box-shadow: 1px 1px 3px black;
  width: 100px;
  border-radius: 5px;
}

.manage-location-delete-button:hover {
  background-color: rgb(161, 158, 158);
}
