.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(171, 169, 169);
  box-shadow: 0px 0.01em black;
  padding: 0px 10px;
}

.unordered-list {
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding-right: 12px;
}

.unordered-list > li {
  padding: 10px 20px 10px 0px;
  list-style-type: none;
}

.demo-button {
  background-color: rgb(219, 223, 223);
  border: none;
  color: black;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

#logo {
  width: 60px;
}

#menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px black;
}

#menu-container:hover {
  background-color: rgb(197, 202, 202);
  box-shadow: 1px 1px 6px black;
}

#menu-icon {
  width: 25px;
  margin-right: 5px;
}

#profile-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-icon {
  width: 20px;
}

#nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px 10px;
}

#nav-link-container li {
  list-style-type: none;
}

#nav-link-container li a {
  color: #096246;
  text-decoration: none;
}

#nav-link-container li a:hover {
  color: #48a794;
}

#right-side-nav {
  display: flex;
}

/* .active {
  color: #0b805b;
} */

/**********************************************/
/* for profilebutton.js */

.menu-wrapper {
  position: absolute;
  background: rgb(219, 223, 223);
  border: 1px solid black;
  top: 70px;
  right: 50px;
  padding: 10px;
  box-shadow: 0px 0px 2px black;
}

.menu-wrapper li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

.menu-wrapper li a {
  color: black;
  text-decoration: none;
}

#manage-spot-link a {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}

#manage-spot-link a:hover {
  background-color: rgb(197, 202, 202);
}

.menu-wrapper li button {
  margin: 5px;
  padding: 8px;
  border-radius: 16px;
}

#logout-button:hover {
  background-color: rgb(197, 202, 202);
}
