/* for profilebutton.js */

.menu-wrapper {
  position: absolute;
  background: rgb(219, 223, 223);
  border: 1px solid black;
  top: 70px;
  right: 50px;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px 0px 3px black;
  z-index: 100;
}

.menu-wrapper li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

#signup-button-wrapper {
  padding: 10px 10px;
}

#login-button-wrapper {
  padding: 0px 20px;
}

.menu-wrapper li a {
  color: black;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
}

.menu-wrapper .user-info {
  padding: 12px px 10px 0px;
  margin-right: 10px;
  margin-left: 10px;
}

#manage-spot-link {
  border-top: 1px solid black;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#manage-spot-link:hover {
  background-color: rgb(197, 202, 202);
}

#manage-spot-link a {
  /* padding-right: 10px;
    margin-right: 10px; */
  padding-left: 10px;
  width: 120px;
}

#manage-reviews-link a {
  /* padding-right: 10px;
    margin-right: 10px; */
  padding-left: 10px;
  width: 120px;
}

#manage-reviews-link {
  border-bottom: 1px solid black;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#manage-reviews-link:hover {
  background-color: rgb(197, 202, 202);
}

.menu-wrapper li button {
  margin: 5px;
  padding: 8px;
  border-radius: 16px;
}

#logout-button:hover {
  background-color: rgb(197, 202, 202);
}

.menu-wrapper #logout-container {
  display: flex;
  justify-content: center;
}
